@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo electrónico para restablecer su contraseña..
</p>
