@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de contraseña reestablecida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido cambiada. Por favor <a asp-page="./Login">click aquí para iniciar sesión</a>.
</p>
